@font-face{
  font-family: MonaspaceKr;
  src: url("fonts/MonaspaceKr.woff2");
}

*{
  font-size: 1.1em;
}

body{
  font-family: MonaspaceKr, Arial;
  color: white;
  background-color: black;
}

a{
  color: white;
}

.ascii-art{
  white-space: pre;
}
.links{
  white-space: pre;
}
.cursor{
  animation: blinking 1.5s steps(1) infinite;
}
@keyframes blinking{
  50%{
    opacity: 0;
  }
}
